.verzoek{
    width: 40%;
    border: 3px solid black;
    border-radius: 25px;
}
.verzoek h2{
    padding-left: 10px;
}

.welkomLabel{
    padding: 100px 0;
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
    width: 40%;
}


.content{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 50px;
}

.list{
    display: flex;
    justify-content: space-around;
}

.qr-class{
    padding: 15px;
    text-align: center;
}

.list th{
    padding: 5px;
}

table, td, th{
    border: 1px solid black;
    background-color: aliceblue;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: center;
    height: 50px;
}

td{
    padding-left: 10px;
}