<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  #navbar {
    height: 100%;
	width: 180px;
    background-color: #0199D3;
    /*background: linear-gradient(#0199D3, #B2E0F1);*/
    margin: 0px auto;
    /*text-align: left;*/
	margin-left: 0px;
}

#navbar ul {
    padding: 0px;
    margin: 0px;
}

#navbar ul li {
    display: inline-block;
    width: 180px;
	height: 60px;
    text-align: left;
	margin: auto;
	border-bottom: 2px solid #0181AF;
}

#navbar ul li:hover {
	background-color: #02ACEA;
}

#navbar ul li a {
    text-decoration: none;
    display: block;
    color: black;
    position: absolute;
    line-height: 45px;
    color: #E41B13;
    font-weight: bold;
	font-size: large;
	margin-left: 60px;
	padding-top: 8px;
}

#navbar ul li img {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}
</style>
<app-main-nav></app-main-nav>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>