<div class="content">
    <div class="aanvraag">
        <h2>Aanvraag</h2>
        <div class="list">
            <table>
                <tr>
                    <th>Email</th>
                    <th>Datum</th>
                    <th>Tijd</th>
                    <th>Goedkeuren</th>
                    <th>Afkeuren</th>
                </tr>
                <tr *ngFor="let aanvraag of aanvragen">
                    <td *ngIf="aanvraag.status==='behandeling';">{{aanvraag.email}}</td>
                    <td *ngIf="aanvraag.status==='behandeling';">{{aanvraag.datum}}</td>
                    <td *ngIf="aanvraag.status==='behandeling';">{{aanvraag.tijd}}</td>
                    <td *ngIf="aanvraag.status==='behandeling';">
                        <!-- <div *ngIf="editState && aanvraagToEdit.datum == aanvraag.datum"> -->
                        <div>    
                            <!-- <form (ngSubmit)="updateAanvraag(aanvraag, aanvraagid)">
                                <input type="text" name="status" value="goedgekeurd">
                                <input type="text" name="aanvraagid" value="{{aanvraag.id}}">
                                <input type="submit" value="Goedkeuren">
                            </form> -->
                            <!--<input type="button" value="Goedkeuren" (click)="updateAanvraag({{aanvraag.id}})">-->
                        </div>
                    </td>
                    <td *ngIf="aanvraag.status==='behandeling';"><button>Afkeuren</button></td>
                </tr>
            </table>
        </div>
        <div class="qr-class">
            <h3 *ngIf = status>Qr-test</h3>
        </div>
    </div>
    <div class="welkomLabel">
        <span>Welkom {{user}}</span>
    </div>
</div>